*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --clr-background: hsl(212, 45%, 89%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-text-dark: hsl(218, 44%, 22%);
  --clr-text-muted: hsl(216, 15%, 48%);
}

body{
    font-family: 'Outfit',sans-serif;
    background: var(--clr-background);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 18.75rem;
    height: 450px;
    padding: clamp(1rem, 2vw, 1.5rem);
    border-radius: 10px;
    background-color:var(--clr-white);
    margin: 20px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h3{
    color: var(--clr-text-dark);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    margin-block-start: 0.9375rem;
    margin-block-end: 0.9375rem;
}

.card p {
  font-size: 15px;
  color: var(--clr-text-muted);
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 48em) {
  .card {
    padding: 2rem;
    max-width: 360px;
  }
}

